<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Canais de Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card>
      <ion-card-title>Supermercados:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Mercantil Serra Nossa</h2>  
          <p>Número: <a href="tel:33251299">33251299</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Comercial O Mardônio</h2>
            <p>Número: <a href="tel:33252114">33252114</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Casa Peixoto</h2>
            <p>Número: <a href="tel:33251490">33251490</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Comercial O Flávio</h2>
            <p>Número: <a href="tel:33251280">33251280</a></p>
          </ion-label>
        </ion-item>
      </ion-list> 
  </ion-card>
  
  <ion-card>
      <ion-card-title>Restaurantes/Pizzarias:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Açafrão</h2>  
            <p>Número: <a href="tel:33251131">33251131</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Buteco Serrano</h2>
            <p>Número: <a href="tel:85986996895">85986996895</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Di Maria</h2>
            <p>Número: <a href="tel:33252089">33252089</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Divino Sabor</h2>
            <p>Número: <a href="tel:85988396528">85988396528</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Mineiro Cada de Amigos</h2>  
            <p>Número: <a href="tel:8599711700">8599711700</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Passarinho Lanches</h2>
            <p>Número: <a href="tel:85999783786">85999783786</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Pastelaria Tempero Português</h2>
            <p>Número: <a href="tel:85984172219">85984172219</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Pizza Bar</h2>
            <p>Número: <a href="tel:85989325937">85989325937</a></p>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="">
            </ion-avatar>
            <ion-label>
              <h2>Salgadinhos da Osana</h2>  
            <p>Número: <a href="tel:85989915303">85989915303</a></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="">
            </ion-avatar>
            <ion-label>
              <h2>Space Burger</h2>
              <p>Número: <a href="tel:85985020327">85985020327</a></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="">
            </ion-avatar>
            <ion-label>
              <h2>Wonder Açai</h2>
              <p>Número: <a href="tel:85996176055">85996176055</a></p>
            </ion-label>
          </ion-item>
      </ion-list> 
  </ion-card>

  <ion-card>
   
      <ion-card-title>Frutas/Verduras:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Antônio Carlos</h2>
            <p>Número: <a href="tel:85986027738">85986027738</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Luís Carlos</h2>
            <p>Número: <a href="tel:85986544668">85986544668</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Mairton</h2>
            <p>Número: <a href="tel:85988311162">85988311162</a></p>
          </ion-label>
        </ion-item>
      </ion-list> 
  </ion-card>
  
  <ion-card>
      <ion-card-title>Farmácias:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Fármacia do Trabalhador</h2>  
          <p>Número: </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Maciço Farma</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Pacoti Pharma</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
      </ion-list> 
  </ion-card>

  <ion-card>
      <ion-card-title>Lojas:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Bebê Cheiroso</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Bela Sapateria</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Bem Calçados</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Boutique Serrano</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
      </ion-list> 
  </ion-card>

  <ion-card>
      <ion-card-title>Frigoríficos:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Frigorífico Carlinhos Castelo</h2>
            <p>Número: <a href="tel:85986555573">85986555573</a></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Frigorífico Flávio Lapada</h2>
            <p>Número: <a href="tel:85987684319">85987684319</a></p>
          </ion-label>
        </ion-item>
        </ion-list>
  </ion-card>

  <ion-card>
   
      <ion-card-title>Orgãos Públicos:</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Bombeiros</h2>  
          <p>Número: </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Hospital</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Polícia Militar</h2>
            <p>Número:</p>
          </ion-label>
        </ion-item>
      </ion-list> 
  </ion-card>

  
</ion-content>
