<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets\logoPacoti.JPEG" >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cidade Limpa</ion-title>
    </ion-toolbar>
  </ion-header>

 
    <div class="ion-text-wrap">
      <ion-button  class="botao" size="large" (click)="abrirPagina('cadastro')">Avise sobre um ponto de coleta</ion-button>
      <ion-button  class="botao" size="large" (click)="abrirPagina('solicitacoes')">Solicitações</ion-button>
    </div>
    <div>
      <ion-button href="https://www.pacoti.ce.gov.br/" class="botao" size="large">Notícias</ion-button>
      <ion-button class="botao" size="large" (click)="abrirPagina('canais-de-atendimento')">Canais de Atendimento</ion-button>    
    </div>

    <ion-footer>
      <ion-toolbar>
        <div id ="icon">
        <a href="https://www.instagram.com/prefeituradepacoti/"><ion-icon name="logo-instagram" size="large"></ion-icon> </a>
        <a href="https://www.facebook.com/PacotiOficial/"><ion-icon name="logo-facebook"  size="large"></ion-icon> </a>
        </div>
      </ion-toolbar>
    </ion-footer>
   
  
 
</ion-content>
